/*	AA Web Portfolio					*/
/*	Stylesheet: Main Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


	/*–––––––––––– LAYOUT ––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*–– Z-Axial Alignment ––*/
			.z--topult {
				z-index: 99999;
			}

			.z--topmost {
				z-index: 9999;
			}

			.z--top {
				z-index: 999;
			}

			.z--high {
				z-index: 99
			}

			.z--default {
				z-index: 0;
			}

			.z--low {
				z-index: -99;
			}

			.z--bottom {
				z-index: -999;
			}

			.z--bottomMost {
				z-index: -9999;
			}
		/*–––––––––––––––––––––––*/
		
	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––––– LINKS ––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/

	/*–––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*––––––– CONDITIONS/STATES –––––––*/
	/*–––––––––––––––––––––––––––––––––*/

		.hidden--op {
			opacity: 0;
		}

		.hidden--vis {
			visibility: hidden;
		}

		.hidden--dis {
			display: none !important;
		}

		.hidden--interact {
			pointer-events: none;
		}

	/*–––––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––– TYPOGRAPHY ––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*–––––– Typefaces ––––––*/

			/* GT Eesti */
				@font-face {
					font-family: Eesti-Regular;
					font-style: normal;
					src: url('../fonts/GTEestiProDisplay-Regular.otf');
				}

				@font-face {
					font-family: Eesti-Regular-Italic;
					font-style: italic;
					src: url('../fonts/GTEestiProDisplay-RegularItalic.otf');
				}

			/* Ginto */
				@font-face {
					font-family: Ginto-Regular;
					font-style: normal;
					src: url('../fonts/Ginto-Regular.ttf');
				}
				@font-face {
					font-family: Ginto-Medium;
					font-style: medium;
					src: url('../fonts/Ginto-Medium.ttf');
				}

		/*–––––––––––––––––––––––*/


		html, body {
			font-family: 'Eesti-Regular';
			font-size: 73px;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
		}

		/*––––––––– Text –––––––––*/
			.text--project {
				font-size: 36.5px;
			}

			.text--project2 {
				font-size: 22px;
				line-height: 25px;
			}
		/*––––––––––––––––––––––––*/


		/*–––––– Headlines ––––––*/

		/*–––––––––––––––––––––––*/


		/*––– Special Formats –––*/

			#FooterMenu, #FilterMenu {
				font-size: 36.5px;
			}

			.slider--counter-container {
				font-size: 73px;
				line-height: 1;
				text-align: right;
			}
		/*–––––––––––––––––––––––*/

	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––––– LINKS ––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/
		a {
			text-decoration: none;
			
		}

		a:hover {
			
		}
	/*–––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––––– COLORS ––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*––––– Backgrounds –––––*/

		/*–––––––––––––––––––––––*/


		/*––––––––– Text –––––––––*/

		/*––––––––––––––––––––––––*/

	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */