/*	AA Web Portfolio					*/
/*	Stylesheet: Grid Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*–––––––––– GRID LAYOUT ––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 0;
}
.grid-copy {
}

/* Grid Columns */
.grid--column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}
.grid--column#column2 {
  border-left: 5px solid var(--color-black-default);
  border-right: 5px solid var(--color-black-default);
}

/* Grid Items */
.grid--item {
  position: relative;
  box-sizing: border-box;
  padding: 0;

  border-bottom: 5px solid var(--color-black-default);
}
.grid--item img {
  width: 100%;
}

/* Slide Counter (in grid) */
.grid-item--counter-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.33rem;
  box-sizing: border-box;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Overlay */
.grid-item--overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: var(--color-black-default);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.grid-item--overlay:hover {
  opacity: 1;
  cursor: url(/assets/cursor/aa-pointer_45deg.svg), auto !important;
}

.grid-item--overlay a {
  width: 100%;
  height: 100%;

  position: absolute;
}

.grid-item--overlay--btn {
  height: 3.5vw;
  padding: 0 var(--margin-default);
  background-color: #fff;
  border: 5px solid var(--color-black-default);
  box-sizing: border-box;

  display: inline-flex;
  justify-content: space-around;

  line-height: 1.5;
  color: #000;
}
.grid-item--overlay--btn:hover {
  background-color: var(--color-black-default);
  color: #fff;
}

.grid-item--overlay--text-container {
  width: calc(100% - ((100% - 20px) * 0.012) * 8);
  margin: calc(((100% - 20px) * 0.012) * 4);
}

.grid-item--overlay--text {
  width: 100%;
  margin-bottom: var(--margin-default);

  color: rgb(255, 255, 255);

  line-height: 1.15;
}

/* Overlay Title */
.grid-item--overlay--text.title {
  margin-bottom: calc(var(--margin-default) * 2);
}
.grid-item--overlay--text.title span:first-of-type {
  line-height: 1.5;
}

/* Overlay Year */
.grid-item--overlay--text.year p {
  width: 100%;
  text-align: right;
}

.grid-item--overlay--text:last-child {
  margin-bottom: 0;
  line-height: 1.2916666667;
}

/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */
