/*	AA Web Portfolio					*/
/*	Stylesheet: Grid Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


	/*–––––––––– GRID LAYOUT ––––––––––*/
	/*–––––––––––––––––––––––––––––––––*/
		.grid {}

		.grid-item {
			width: 25%;
			height: auto;

			background-color: orchid;
			border: 2.5px solid black;

			box-sizing: border-box;
			line-height: 0;
		}

		.grid-item img {
			width: 100%;
		}
	/*–––––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */