/*	AA Web Portfolio					*/
/*	Stylesheet: Main Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


	/*–––––––––––– LAYOUT ––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*–– Z-Axial Alignment ––*/
			.z--topmost {
				z-index: 9999;
			}

			.z--top {
				z-index: 999;
			}

			.z--high {
				z-index: 99
			}

			.z--default {
				z-index: 0;
			}

			.z--low {
				z-index: -99;
			}

			.z--bottom {
				z-index: -999;
			}

			.z--bottomMost {
				z-index: -9999;
			}
		/*–––––––––––––––––––––––*/
		
	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––––– LINKS ––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/

	/*–––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*––––––– CONDITIONS/STATES –––––––*/
	/*–––––––––––––––––––––––––––––––––*/

		.hidden--op {
			opacity: 0;
		}

		.hidden--vis {
			visibility: hidden;
		}

		.hidden--dis {
			display: none !important;
		}

	/*–––––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––– TYPOGRAPHY ––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*–––––– Typefaces ––––––*/

			/* GT Eesti */
				@font-face {
					font-family: Eesti-Regular;
					font-style: normal;
					src: url('../fonts/GTEestiProDisplay-Regular.otf');
				}

		/*–––––––––––––––––––––––*/


		html, body {
			font-family: 'Eesti-Regular';
			font-size: 73px;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
		}

		/*–––––– Fließtext ––––––*/

		/*–––––––––––––––––––––––*/


		/*–––––– Headlines ––––––*/

		/*–––––––––––––––––––––––*/


		/*––– Special Formats –––*/

			#FooterMenu {
				font-size: 36.5px;
			}

		/*–––––––––––––––––––––––*/

	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––––––– COLORS ––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		/*––––– Backgrounds –––––*/

		/*–––––––––––––––––––––––*/


		/*––––––––– Text –––––––––*/

		/*––––––––––––––––––––––––*/

	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */