
/*	AA Web Portfolio					*/
/*	Stylesheet: Menu Styling 		*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


/*–––––––––––– NAVBAR ––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

	.menu--navbar--top-wrapper {
		height: 9vw;
		width: calc(100vw - (2.4% + 10px));
		margin: 1.2%;
		
		position: fixed;
		top: 0;

		display: flex;
		justify-content: space-between;

		border: 5px solid #000;
		user-select: none;
	}

	.menu--navbar--section_md {
		flex: 3;
		border-right: 2.5px solid #000;
		border-left: 2.5px solid #000;
	}

		.menu--navbar--section_md:last-child {
			flex: 3;
			border-right: 0px solid #000;
		}

	.menu--navbar--section_sm {
		flex: 1;
		border-right: 2.5px solid #000;
	}

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */