/*	AA Web Portfolio				  	*/
/*	Stylesheet: Variables  	  	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*––––––– SIZE/POSITIONING –––––––*/
/*––––––––––––––––––––––––––––––––*/
:root {
  /* Spacing */
  --margin-default: 25px;
  --padding-default: 25px;

  --border-default: 5px;

  /* Colors */
  --color-black-default: #131313;

  /* Type Sizes (Large+ Screen) */
  --typesize--sm: 20px;
  --typesize--md: 36px;
  --typesize--lg: 68px;
}

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
