/*	AA Web Portfolio						*/
/*	Stylesheet: Slider Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


	/*––––––––– SLIDE LAYOUT –––––––––*/
	/*––––––––––––––––––––––––––––––––*/

		.carousel-cell {
		  width: 100%; /* full width */
		  height: 100vh; /* height of carousel */

		  /* Center images in slides 1*/
			display: -webkit-box;
			display: -webkit-flex;
			display:         flex;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
		}

		.carousel-cell img {	
			height: 90%;
		}


		.slide--counter-container {
			position: absolute;
			bottom: 0;
		}

	/*––––––––––––––––––––––––––––––––*/
	/*––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */


	/*–––––––– SLIDER ARROWS ––––––––*/
	/*–––––––––––––––––––––––––––––––*/

		.flickity-button {
			opacity: 0 !important;
			background: transparent !important;
		}

		.flickity-button:hover {
			opacity: 1 !important;
		}

		.flickity-prev-next-button {
			height: 150px !important;
			width: 150px !important;
		}

	/*–––––––––––––––––––––––––––––––*/
	/*–––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */

