/*	AA Web Portfolio					    */
/*	Stylesheet: Buttons Styling 	*/

/* ************************************************** */
/* ************************************************** */

/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* Basic Properties */
.button {
  width: fit-content;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: var(--color-black-default);
  cursor: url(/assets/cursor/aa-pointer_45deg.svg), auto !important;
}
.button span {
  cursor: url(/assets/cursor/aa-pointer_45deg.svg), auto !important;
}

.button:hover {
  background-color: var(--color-black-default);
  color: white;
}

.button.showSimilar {
  color: white;
  border-color: white;
  background-color: var(--color-black-default);
}
.button.showSimilar:hover {
  color: var(--color-black-default);
  border-color: white;
  background-color: white;
}

/* Special properties for Filter Menu buttons */
.button.filter.active {
  font-family: "Eesti-Regular-Italic";
}
/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*	AA Web Portfolio					          */
/*	Stylesheet: Buttons Media Queries 	*/

/*–––––––––– IPAD SCREEN ––––––––––*/
/*–––––––––––––––––––––––––––––––––*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Basic Properties */
  .button {
    height: calc((70px) * 1);
    min-height: calc((70px) * 1);
    padding: 0 var(--padding-default);

    border: 5px solid var(--color-black-default);

    font-size: var(--typesize--button);
  }

  /* Special properties for Filter Menu buttons */
  .button.filter,
  .button.footer {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: none;
    border-right: 5px solid var(--color-black-default);
  }
  .button.filter:first-of-type,
  .button.footer:first-of-type {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: 5px solid var(--color-black-default);
    border-right: 5px solid var(--color-black-default);
  }
}
/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/*––––––––– LARGE+ SCREEN –––––––––*/
/*–––––––––––––––––––––––––––––––––*/

@media only screen and (min-width: 1281px) {
  /* Basic Properties */
  .button {
    height: 70px;
    min-height: 70px;
    padding: 0 var(--padding-default);

    border: 5px solid var(--color-black-default);

    font-size: var(--typesize--button);
  }

  /* Special properties for Filter Menu buttons */
  .button.filter,
  .button.footer {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: none;
    border-right: 5px solid var(--color-black-default);
  }
  .button.filter:first-of-type,
  .button.footer:first-of-type {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: 5px solid var(--color-black-default);
    border-right: 5px solid var(--color-black-default);
  }
}
/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */
