
/*	AA Web Portfolio					*/
/*	Stylesheet: Menu Styling 		*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/


/*–––––––––––– NAVBAR ––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

	.menu--navbar--top-wrapper {
		height: 7vw;
		width: calc(100vw - (2.4% + 10px));
		margin: 1.2%;
		
		position: fixed;
		top: 0;

		display: flex;
		justify-content: space-between;

		user-select: none;
	}

	div[class^="menu--navbar--section_"] {
		position: relative;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.menu--navbar--section_sm {
		flex: 1;
		border: 5px solid #000;
	}

	.menu--navbar--section_md {
		flex: 4;
		border-right: 2.5px solid #000;
		border-left: 2.5px solid #000;
		border-bottom: 5px solid #000;
   	border-top: 5px solid #000;
	}
		.menu--navbar--section_md:nth-child(2)  {
			border-left: 0px solid #000;
		}

		.menu--navbar--section_md:last-child {
			border-right: 5px solid #000;
		}

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/


/*–––––––––––– NAVBAR –––––––––––––*/
/*–––––––––– Interaction ––––––––––*/

	div[class^="menu--navbar--section_"]:hover {
		color: #fff;
		background-color: #000;
		cursor: pointer;
	}

/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/


/* ************************************************** */
/* ************************************************** */