/*	AA Web Portfolio					    */
/*	Stylesheet: Buttons Styling 	*/

/* ************************************************** */
/* ************************************************** */

/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* Basic Properties */
.button {
  width: fit-content;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: var(--color-black-default);
}
.button:hover {
  background-color: var(--color-black-default);
  color: white;
}

/* Special properties for Filter Menu buttons */
.button.filter.active {
  font-family: "Eesti-Regular-Italic";
}
/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*	AA Web Portfolio					          */
/*	Stylesheet: Buttons Media Queries 	*/

/*––––––––– LARGE+ SCREEN –––––––––*/
/*–––––––––––––––––––––––––––––––––*/

@media only screen and (min-width: 1281px) {
  /* Basic Properties */
  .button {
    height: 70px;
    padding: 0 20px;

    border: 5px solid var(--color-black-default);

    font-size: var(--typesize--md);
  }

  /* Special properties for Filter Menu buttons */
  .button.filter {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: none;
    border-right: 5px solid var(--color-black-default);
  }
  .button.filter:first-of-type {
    border-top: 5px solid var(--color-black-default);
    border-bottom: 5px solid var(--color-black-default);
    border-left: 5px solid var(--color-black-default);
    border-right: 5px solid var(--color-black-default);
  }
}
/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */
