/*	AA Web Portfolio					*/
/*	Stylesheet: Main Styling 	*/

/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*–––––––––––– LAYOUT ––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*– Wrappers/Containers –*/

.wrapper--overlay {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}
/*–––––––––––––––––––––––*/

/*–– Z-Axial Alignment ––*/
.z--topult {
  z-index: 99999;
}

.z--topmost {
  z-index: 9999;
}

.z--top {
  z-index: 999;
}

.z--high {
  z-index: 99;
}

.z--default {
  z-index: 0;
}

.z--low {
  z-index: -99;
}

.z--bottom {
  z-index: -999;
}

.z--bottomMost {
  z-index: -9999;
}
/*–––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*–––––––––––– LINKS ––––––––––––*/
/*–––––––––––––––––––––––––––––––*/

a {
}

a:hover {
  cursor: url(/assets/cursor/aa-pointer_45deg.svg), auto !important;
}

/*–––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*––––––– CONDITIONS/STATES –––––––*/
/*–––––––––––––––––––––––––––––––––*/

.hidden--op {
  opacity: 0;
  pointer-events: none;
}

.hidden--vis {
  visibility: hidden;
}

.hidden--dis {
  display: none !important;
}

.hidden--interact {
  pointer-events: none;
}

.scroll--none {
  overflow: hidden;
}

/*–––––––––––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*–––––––––– TYPOGRAPHY ––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*––– Special Formats –––*/

.slider--counter-container {
  font-size: 68px;
  line-height: 1;
  text-align: right;
}

.menu--navbar--section_md.active {
  font-family: "Eesti-Regular-Italic";
}

.checked {
  font-family: "Eesti-Regular-Italic";
}
/*–––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */

/*–––––––––––– COLORS ––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*––––– Backgrounds –––––*/
.bg-color--default {
  background-color: #fff;
}

.bg-color--default-trans {
  background-color: rgba(255, 255, 255, 0.75);
}
/*–––––––––––––––––––––––*/

/*––––––––– Text –––––––––*/
body {
  color: var(--color-black-default) !important;
}

/*––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*–––––––––––– EFFECTS –––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/*–––––– Transition –––––*/
.fade--op--default {
  transition: opacity 0s;
}
/*–––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––*/

/* ************************************************** */
/* ************************************************** */
